.online{
    color: green;
}

.offline{
    color: red;
}

.conection{
    text-align: center;
    margin: 1rem auto;
    width: 15rem;   
    max-width: 30rem;
    opacity: 60%;
    padding: 0.6rem;
    border: 1px solid #f78b1f3e;
    border-radius: 8px;
    background-color: #FFF3E8;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
}

.background-weather{
    background-color: #FFF3E8;
    padding: 1rem;
    border-radius: 3rem;
}

.buttonAtualizarClima{
    background-color: #FFB971;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-top: 1rem;
}

.w-90{
    width: 90% !important;
}